body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100% !important;
  text-align: center;
  line-height: 16.6vh;
}

.mainInfo {
  position: absolute;
  position: fixed !important;
  top: 0;
}

.cell {
  height: 16.6vh;
}

/* .container {
  background: url(../images/backgrounds/austin1.jpg);
  background-size: cover;
} */

* {
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
}

#section1 {
  background-image: url(../images/backgrounds/austin0.jpg);
  background-size: cover;
}

#section2 {
  background-image: url(../images/backgrounds/austin1.jpg);
  background-size: cover;
}

#section3 {
  background-image: url(../images/backgrounds/austin2.jpg);
  background-size: cover;
}

#section4 {
  background-image: url(../images/backgrounds/austin3.jpg);
  background-size: cover;
  position: relative;
}

#section5 {
  background-image: url(../images/backgrounds/austin4.jpg);
  background-size: cover;
  position: relative;
}

#section6 {
  background-image: url(../images/backgrounds/austin5.jpg);
  background-size: cover;
  position: relative;
}

#section7 {
  background-image: url(../images/backgrounds/austin6.jpg);
  background-size: cover;
  position: relative;
}

#section8 {
  background-image: url(../images/backgrounds/austin7.jpg);
  background-size: cover;
  position: relative;
}

#section9 {
  background-image: url(../images/backgrounds/austin8.jpg);
  background-size: cover;
  position: relative;
}

#section10 {
  background-image: url(../images/backgrounds/austin9.jpg);
  background-size: cover;
  position: relative;
}

.weatherInfo {
  font-size: 5vh;
  line-height: 0;
}

.icon {
  width: 8vh;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 10px;
}

#newsArticles {
  color: white;
  font-size: 22px;
}
