#section1 {
  background-image: url(../images/backgrounds/austin0.jpg);
  background-size: cover;
}

#section2 {
  background-image: url(../images/backgrounds/austin1.jpg);
  background-size: cover;
}

#section3 {
  background-image: url(../images/backgrounds/austin2.jpg);
  background-size: cover;
}

#section4 {
  background-image: url(../images/backgrounds/austin3.jpg);
  background-size: cover;
  position: relative;
}

#section5 {
  background-image: url(../images/backgrounds/austin4.jpg);
  background-size: cover;
  position: relative;
}

#section6 {
  background-image: url(../images/backgrounds/austin5.jpg);
  background-size: cover;
  position: relative;
}

#section7 {
  background-image: url(../images/backgrounds/austin6.jpg);
  background-size: cover;
  position: relative;
}

#section8 {
  background-image: url(../images/backgrounds/austin7.jpg);
  background-size: cover;
  position: relative;
}

#section9 {
  background-image: url(../images/backgrounds/austin8.jpg);
  background-size: cover;
  position: relative;
}

#section10 {
  background-image: url(../images/backgrounds/austin9.jpg);
  background-size: cover;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100% !important;
  text-align: center;
  line-height: 16.6vh;
}

.mainInfo {
  position: absolute;
  position: fixed !important;
  top: 0;
}

.cell {
  height: 16.6vh;
}

* {
  color: aliceblue;
  text-shadow: 3px 3px 4px black;
}

.icon {
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 10px;
  transition: all 0.5s;
}

.icon:hover {
  box-shadow: -1px 0 20px, 0 1px 20px, 1px 0 20px, 0 -1px 20px;
  cursor: pointer;
}

#newsArticles {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.weatherInfo {
  margin-top: 10px;
  line-height: 8.33vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.5s;
}
.weatherInfo:hover {
  box-shadow: -1px 0 20px, 0 1px 20px, 1px 0 20px, 0 -1px 20px;
  cursor: pointer;
}
.weatherIcon {
  width: 70%;
}
.temperature {
  margin-top: -20px;
  font-size: 2vw;
}
#widget {
  position: sticky;
  min-width: 100%;
  max-width: 100%;
  height: 5px;
  z-index: 999;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  text-align: left;
  line-height: 20px;
  transition: all 2s;
}

.closeMe {
  margin: 48%;
  font-size: 30px;
}

.closeMe:hover {
  cursor: pointer;
  color: red;
}

.widgetContent {
  padding: 10px;
  max-width: 100%;
}

#googleInput,
#googleButton {
  all: unset;
  width: 80%;
  text-align: center;
  margin: 0 10%;
}

#googleInput {
  margin-top: 30%;
  font-size: 30px;
  text-shadow: none;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 5px;
}

.weatherWidget {
  text-align: center;
}

table {
  font-size: 30px;
  margin: auto;
}

td {
  padding: 10px;
  text-align: center;
}

.lava {
  text-align: center;
}

#map {
  height: 65vh;
  width: 90%;
  margin: auto;
}

.right {
  text-align: right;
  margin-right: 5%;
}

.movieTable {
  width: 90%;
  height: 65vh;
}

.movieTitle {
  font-size: 20px;
}

@media only screen and (max-width: 991px) {
  .icon {
    margin: 0;
    text-align: unset;
  }

  #AB,
  #BB,
  #CB,
  #DB,
  #EB,
  #FB,
  #AD,
  #BD,
  #CD,
  #DD,
  #ED,
  #FD {
    display: none;
  }
  #AA,
  #BA,
  #CA,
  #DA,
  #EA,
  #FA,
  #AE,
  #BE,
  #CE,
  #DE,
  #EE,
  #FE {
    width: 12%;
    margin: 0;
    padding: 0;
  }

  #AC,
  #BC,
  #CC,
  #DC,
  #EC,
  #FC {
    width: 76%;
  }

  .widgetContent{
    overflow: auto;
  }
  .temperature {
    font-size: 4vw;
  }

  .movieTable {
    height: 150px;
  }

  .movieTable p {
    font-size: 10px;
  }

  .movieTable img {
    width: 100%;
  }
}
